.ui {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex: 1;
  align-items: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.ui .infos {
  background-color: rgba(10, 10, 10, 0.6);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.ui .infos h3 {
  padding: 0;
  margin: 0;
}

.ui .actions {
  margin-top: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui .actions button:disabled,
.ui .actions button:disabled:hover {
  background-color: grey !important;
  transform: none;
}

.ui .actions button {
  padding: 1em;
  margin: 0.2em;
  pointer-events: auto;
  color: white;
  border-radius: 2px;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 13em;
}

.ui .actions button:hover {
  transform: translateY(-2px);
}

.ui .actions button.selected {
  border-color: rgba(255, 255, 255, 0.6);
}

.ui .actions.player1 button {
  background-color: #e64a4a;
}

.ui .actions.player2 button {
  background-color: #5975ff;
}

.ui .actions.player3 button {
  color: black;
  background-color: #d6c81f;
}

.ui .actions.player4 button {
  color: black;
  background-color: #fea6f8;
}

.ui .balances {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  flex-wrap: wrap;
}

.ui .balance {
  display: flex;
  opacity: 0.5;
}

.ui .balance.selected {
  opacity: 1;
}

.ui .balance {
  padding-right: 1em;
  border-right: 1px solid white;
}

.ui .balance .value {
  margin-left: .5em;
  min-width: 2em;
}

.ui .balance:last-child {
  border: none;
}

.ui .player {
  margin-left: 1em;
}

.ui .gold {
  min-width: 2em;
  text-align: right;
}
